* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  .contact-container {
    background-image: url("https://png.pngtree.com/background/20211215/original/pngtree-blue-wave-ocean-background-hd-design-picture-image_1461617.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    padding: 10px 0;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #2c3e50;
  }
  .container {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h1 {
    margin-bottom: 10px;
    color: #e74c3c;
  }
  
  .container p {
    line-height: 1.6;
  }
  .flex-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .contact-form {
    flex: 1;
    background-color: white;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    color: #e74c3c;
    margin-bottom: 10px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
  }
  .contact-form,
  .contact-details {
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.8s ease-in-out forwards;
  }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  #contact-button {
    background-color: green;
    border-radius: 5px;
    transition: background-colot 0.3s ease;
    width: 90%;
    height: 50px;
  }
  .contact-details {
    flex: 1;
    background-color: white;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-details h2 {
    color: #e74c3c;
    margin-bottom: 10px;
  }
  
  .detail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #333;
  }
  
  .detail .emoji {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .detail h3 {
    margin-right: 5px;
  }
  footer {
    /*background-color: #3498db;*/
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  footer p {
    margin: 0;
  }
  